export HOST_POST=:8080
export PROFILE=default
export LOG_LEVEL=ERROR
export FUND_TRANSFERS_DATASOURCE_USERNAME=yellow-pepper-funds-transfer
export FUND_TRANSFERS_DATASOURCE_PASSWORD=Raven123qweasd+
export FUND_TRANSFERS_DATASOURCE_URL=:username::password@tcp(localhost:3307)/yellow-pepper-funds-transfer?charset=utf8
export SENTRY_DSN=http://73f889a91861474ab5ad2860d4b10aad@192.168.0.155:9000/2
export SENTRY_ENVIRONMENT=dev
export SENTRY_RELEASE=sample
